<div class="row mt-3">
  <div class="col-sm-6">
    <img class="img-fluid" src="<%= @movie.poster %>">
  </div>
  <div class="col-sm-6">
    <h2><%= @movie.title %></h2>
    <p><%= @movie.summary %></p>
    <p><em>Released <%= @movie.year_released %></em></p>
  </div>
</div>